    body {
        margin: 0px;
        text-align: center;
    }
    
    h1 {
        margin-top: 0px;
        font-family: 'Bad Script';
    }
    
    .topPara {
        font-family: 'Fondamento';
        text-align: center;
    }
    
    p {
        font-family: 'EB Garamond';
    }
    
    .top-container {
        background-color: rgb(204, 229, 250);
        position: relative;
        padding-top: 100px;
    }
    
    .middle-container {
        background-color: rgb(186, 250, 229);
        position: relative;
    }
    
    .bottom-container {
        background-color: rgb(148, 240, 243);
        position: relative;
    }
    
    .topCloud {
        position: absolute;
        right: 300px;
        top: 50px;
    }
    
    .bottomCloud {
        position: absolute;
        left: 300px;
        bottom: 200px;
    }
    
    .mount {
        position: auto;
    }